.image_wrapper{
    margin: 10px;
    cursor: zoom-in;
    box-shadow: 0px 0px 10px #c7c7c7;
    border-radius: 4px;
    padding: 5px
}
.image_wrapper .main_image{
    width: 100%;
    height: 100%;
}
.fullscreen{
    position: fixed;
    height: 97vh;
    z-index: 10;
    width: 98vw;
    margin-left: auto;
    margin-right: auto;
    left: 1vw;
    top: 0;
    transition: all 0.5s;
    cursor: zoom-out;
}

#slider_wrapper{
    display: none;
    z-index: 100;
    position: relative;
}
.next_btn{
    position: absolute;
    right: 2%;
    top: 50vh;
}
.prev_btn{
    position: absolute;
    left: 2%;
    top: 50vh;
}
.prev_btn img{
    transform: rotate(180deg)
}
#slider_wrapper button{
    background: #bdbdbd;
    border: none;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    outline: none;
    cursor: pointer;
}
#slider_wrapper button:hover{
    background: #000;
}
